body{
    background-color: rgb(158, 158, 158);
    color: rgb(216, 206, 206);
    font-family: 'Potta One', cursive;
}
#canvas{
    border-style: solid;
    border-color: black;
    background-color: white;
    height: 600px;
    width: 600px;
    display: flex;
    margin: 10px;
}

h1{
    text-align: center;
    margin: 5px;
}


body > div{
    border-radius: 20px;
    background-color: rgb(90, 23, 23);
    padding: 20px;
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
    top:0;
}

#currentGridSize{
    padding:0;
    margin:0;
}

#canvas>div>div{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}